.popup__form-heading {
  margin: 0 auto 0 0;
  font-family: Inter, serif, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);
}
@media only screen and (max-width: 767px){
  .popup__form-heading {
    margin: 0 auto 0 0;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
