.popup__close-button {
  transform: rotate(-90deg);
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/Close\ Icon.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: transparent;
  right: -40px;
  top: -40px;
  border: transparent;
  transition: opacity .2s linear;
}

.popup__close-button:hover {
  opacity: .6;
}

@media only screen and (max-width: 767px){
  .popup__close-button {
    width: 23px;
    height: 23px;;
    right: 0px;
    top: -41px;
  }
}
