.popup__save-button {
  width: 100%;
  height: 50px;
  background-color: black;
  font-family: Inter, sans-serif, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  color: #FFFFFF;
  margin: 38px 0 36px 0;
  border-radius: 2px;
  box-shadow: 0 0 0 0;
  cursor: pointer;
  transition: opacity .2s linear;
}

.popup__save-button:hover {
  opacity: .8;
}

@media only screen and (max-width: 767px){
  .popup__save-button {
    height: 46px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
