.post-container {
  max-width: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media only screen and (max-width: 767px){
  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
  }
}
